/**
 *Main styles for Vcweb redesign
 *@rdarling
 *
 */
.left {
  float: left; }

.right {
  float: right; }

.brick {
  clear: both; }

.centered {
  text-align: center; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

#head_wrap {
  background: url(../img/ship.jpg) no-repeat fixed;
  background-size: cover; }

header {
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem; }
  header h1 {
    color: #f4f4f4;
    padding: 1rem; }

main h2 {
  text-transform: uppercase;
  margin-bottom: 2rem; }
main .row {
  padding: 8rem; }
main #design {
  background: url(../img/design.jpg) no-repeat fixed;
  background-size: cover; }
  main #design .row {
    background: rgba(255, 255, 255, 0.5);
    color: #f4f4f4; }
    main #design .row h2 {
      color: #f4f4f4; }
main #video {
  background: url(../img/giphy.gif) no-repeat fixed;
  background-size: cover; }
  main #video .row {
    background: rgba(0, 0, 0, 0.8);
    color: #f4f4f4; }
  main #video h2 {
    color: #f4f4f4; }
main #marketing {
  background: #1D276E;
  color: #f4f4f4; }
  main #marketing h2 {
    color: #f4f4f4; }

#footer_info {
  background: url(../img/ship.jpg) no-repeat fixed;
  background-size: cover; }
  #footer_info .row {
    color: #f4f4f4;
    padding: 2rem; }
