/**
 *Main styles for Vcweb redesign
 *@rdarling
 *
 */


$trans-black: rgba(0,0,0,0.8);
$trans-white: rgba(255,255,255,0.5);
$white: #f4f4f4;
$blue: #1D276E;

.left {float:left;}
.right {float:right;}
.brick {clear:both;}
.centered {text-align:center;}
.absolute {position:absolute;}
.relative {position:relative;}
.fixed {position: fixed;}

#head_wrap {
	background:url(../img/ship.jpg) no-repeat fixed;
	background-size:cover;
}

header {
	color: $white;
	background-color: $trans-black;
	padding:2rem;

	h1{
		color: $white;
		padding:1rem;
	}
}

main {

	h2 {
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	.row {
		padding: 8rem;
	}

	#design {
		background:url(../img/design.jpg) no-repeat fixed;
		background-size:cover;

		.row {
			background: $trans-white;
			color: $white;

			h2 {
				color: $white;
			}
		}
	}

	#video {
		background:url(../img/giphy.gif) no-repeat fixed;
		background-size:cover;

		.row {
			background: $trans-black;
			color: $white;
		}

		h2 {
			color: $white;
		}
	}

	#marketing {
		background: $blue;
		color: $white;

		h2{
			color: $white;
		}
	}
}

#footer_info {
	background:url(../img/ship.jpg) no-repeat fixed;
	background-size:cover;	

	.row{
		color: $white;
		padding:2rem;
	}
}