/**
 *Main styles for Vcweb redesign
 *@rdarling
 *
 */


$trans-black: rgba(0,0,0,0.8);
$trans-white: rgba(255,255,255,0.5);
$white: #f4f4f4;
$blue: #1D276E;

.left {float:left;}
.right {float:right;}
.brick {clear:both;}
.centered {text-align:center;}
.absolute {position:absolute;}
.relative {position:relative;}
.fixed {position: fixed;}
.tbg {background:$trans-white;}
.disappear {display:none;}
.no-width {width:0;}
.clear {opacity: 0;}


.init-content,.extra-right, .extra-left {
	position: relative;
	transition: all 0.5s ease;
	.icon-right-circled, .icon-left-circled {
		position: absolute;
		font-size: 3rem;
		opacity: 0;
		transition: all 0.5s ease;
		cursor: pointer;
	}

	.icon-left-circled {
		left:0;
	}

	.icon-right-circled {
		right:0;
	}

	&:hover {
		.icon-right-circled, .icon-left-circled {
			opacity: 1;
		}
	}
}

.clear.absolute {
	position: absolute !important;
}

#head_wrap {
	background:url(../img/ship.jpg) no-repeat fixed;
	background-size:cover;
}

#nav_wrap {
	width: 100%;
	min-width:100%;

	a {
		color: $blue;
	}
}

header {
	color: $white;
	background-color: $trans-black;
	padding:2rem;

	h1{
		color: $white;
		padding:1rem;
	}
}

main {

	h2 {
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	.row {
		padding: 8rem;
	}

	#design {
		background:url(../img/design.jpg) no-repeat fixed;
		background-size:cover;

		.row {
			background: $trans-white;
			color: $white;

			h2 {
				color: $white;
			}
		}
	}

	#video {
		background:url(../img/giphy.gif) no-repeat fixed;
		background-size:cover;

		.row {
			background: $trans-black;
			color: $white;
		}

		h2 {
			color: $white;
		}
	}

	#marketing {
		background: $blue;
		color: $white;

		h2{
			color: $white;
		}
	}
}

#footer_info {
	background:url(../img/ship.jpg) no-repeat fixed;
	background-size:cover;	

	.row{
		color: $white;
		padding:2rem;
	}
}